*{
    box-sizing: border-box;
    margin: 0;
}

.hero{
    height: 100vh;
    width: 100vw;
    background:darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    background:black;
    margin:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    padding:10px;
}
.calc-border{
    /* width: 400px; */
    /* height: 100px; */
}
.calc-buttons-container{

/* display: flex; */
/* justify-content: center; */
/* align-items: center; */
/* flex-direction: column; */
/* flex-wrap: wrap; */
/* margin: 0 0 3em 0; */
display: grid;
grid-template-columns: repeat(4, 1fr);
/* grid-template-rows: repeat(3, 100px); */

}
.calc-buttons-container > div{
    background:#3c3b3b;
    color:#d4d4d4;
    width:100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:7px;
    font-family: 'DM Sans', sans-serif;
    font-size: 2.5rem;
}
#ac, #sign, #percent{
    background:#d4d4d4;
    color:black;
}
#devide, #multiple, #substruct, #add, #equal{
    background:orange;
    color:white;
}
.calc-screen{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#screen{
    font-size: 7rem;
    background:black;
    width:400px;
    border: none;
    color:#d4d4d4;
    direction: rtl;
}
.fas{
    font-size: 2rem;
}
