*{
    box-sizing: border-box;
    margin: 0;
}

.hero{
    height: 100vh;
    width: 100vw;
    background:darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    background:black;
    margin:20px;
    display: none;
    justify-content: center;
    align-content: center;
    border-radius: 2%;
    padding:10px;
}
.calc-border{
    /* width: 400px; */
    /* height: 100px; */
}
.calc-buttons-container{

/* display: flex; */
justify-content: center;
align-items: center;
/* flex-direction: column; */
/* flex-wrap: wrap; */
/* margin: 0 0 3em 0; */
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(5, 110px);

}

.calc-buttons-container > div{
    background:#3c3b3b;
    color:#d4d4d4;
    width:100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:7px;
    font-family: 'DM Sans', sans-serif;
    font-size: 2.5rem;
    cursor: pointer;
}
.calc-buttons-container > div:hover, span:hover{
    background:#999999;
    color:white;
}
span{
    grid-column:span 2;
    width: 200px;
    border-radius: 50px;
    margin:7px;
    font-family: 'DM Sans', sans-serif;
    font-size: 2.5rem;
    cursor: pointer;
    background:#3c3b3b;
    color:#d4d4d4;
    height: 100px;
        text-align: left;
}
#ac, #sign, #percent{
    background:#d4d4d4;
    color:black;
}
#ac:hover, #sign:hover, #percent:hover{
    background:#ffffff;
    color:black;
}
#devide, #multiple, #substruct, #add, #equal{
    background:orange;
    color:white;
}

#devide:hover, #multiple:hover, #substruct:hover, #add:hover, #equal:hover{
    background:rgb(253, 210, 131);
    color:white;
}
.calc-screen{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#screen{
    font-size: 7rem;
    background:black;
    width:400px;
    border: none;
    color:#d4d4d4;
    direction: rtl;
    /* font-family: 'DM Sans', sans-serif; */
    font-family: sans-serif;

}
.fas{
    font-size: 2rem;
    
}
.calc-icon{
    display: flex;

}








/* Apple Calculator App Icon by Rinny  */
body {
    height: 100vh;
  }
  body,
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-container {
    width: 300px;
    height: 300px;
    background: #d4d4d2;
    border-radius: 25%;
  }
  .icon-calc {
    background: #1a1a1a;
    width: 150px;
    height: 215px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .icon-screen {
    background: #656565;
    width: 120px;
    height: 50px;
    border-radius: 10px;
  }
  .icon-buttons {
    width: 130px;
    height: 120px;
    /*   border: 2px solid white; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: space-around;
    align-items: center;
  }
  .icon {
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #5c5c5c;
  }
  .span {
    grid-column: span 2;
    background: white;
    width: 75px;
    height: 30px;
    border-radius: 50px;
  }
  .three,
  .six,
  .seven {
    background: #e8a052;
  }
  